@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

html {
  font-family: 'Poppins', sans-serif;
  /* background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% ); */
  /* background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% ); */
  /* background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% ); */
  background: rgb(24 24 27);
}


@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animated Underline Start */
.pass{
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
}
.pass:before {
  content: "";
  width: 0;
  height: 0.05em;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(254 205 211);
  transition: all 0.3s;
}
.pass:hover:before {
  width: 100%;
  left: 0;
  background: rgb(165 243 252);
}
/* Animated Underline End */