@tailwind base;
@tailwind components;
@tailwind utilities;

.header-animation{
  animation: rotate360 5s infinite;
}

@keyframes rotate360 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);

  }
}