/* Scrollbar start */

/* Free to Use , githhub.com/VishwaGauravIn */

/* Basic */
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.7em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  /* background-image: linear-gradient(90deg, rgb(40, 44, 52) 0%, #121212 72%); */
  background-color: rgb(24 24 27);
}

/* default color, border color to match body bg and give some space*/
::-webkit-scrollbar-thumb {
  transform-style: preserve-3d;
  background-color: rgba(187, 247, 208, 0.649);
  border-radius: 50px;
  border-color: rgb(24 24 27);
  border-style: solid;
  border-width: 2px;
}

/* When you hover mouse on it */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(187, 247, 208, 0.8);
}

/* basically onClick */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(187, 247, 208, 1);
}
/* removal of square at bottom */
::-webkit-scrollbar-corner {
  background-color: transparent;
}
/* Scrollbar end */
